*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    color: brown;
}
/* estilos basicos para los parrafos */
p {
    color: green;
    font-size: 18px;
    text-align: center;
}

body {
    background-color: firebrick;
}